* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" !important;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
  font-family: "Poppins" !important;
  /* font-size: 22px; */
  color: white;
}

.page-with-navigation {
  height: 100%;
  padding-top: 60px;
  overflow: scroll;
  box-sizing: border-box;
}
